@import "variables.scss";

.header {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 10000000000;
}
////////////////////////////////////
//***** MENU FOR MOBILE*****////////
////////////////////////////////////

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transform: scaleX(0);
    opacity: 0;
    transition: opacity 1s;
}

.menuicon {
    position: fixed;
    margin-top: 3rem;
    right: 3rem;
    cursor: pointer;
    outline: none;
    display: none;
    z-index: 100000001;
}

.bar,
.bar::before ,
.bar::after {
    content: "";
    width: 3rem;
    height: 0.5rem;
    background: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: relative;
    transition: all 0.2s;
}



.bar::before {
    position: absolute;
    bottom: 2rem;

}

.bar::after {
    position: absolute;
    top: 2rem;
}

.open .bar {
    display: none;
}

.open .bar::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: rotate(45deg);
}

.open .bar::after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: rotate(-45deg);
}
////////////////////////////////////
//***** NAVIGATION NAVBAR *****/////
////////////////////////////////////

.navbar {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 10rem;
    justify-content: space-between;
    border-bottom: 0.5px solid #F2F2F2;
    background: white;
}

.navbar__logo {
    margin: auto 3.5rem;
}

.navbar__logo img {
    width: 5rem;
    height: auto;
}

////////////////////////////////////
//***** SEARCH INPUT NAV *****//////
////////////////////////////////////

.navbar__search {
    flex: 0 0 15%;
    position: relative;
    margin: auto 2rem;
}

.navbar__search--button {
    position: absolute;
    border: none;
    padding: 0.63rem 0.8rem;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    background-color: #47C1BC;
}

.navbar__search--input {
    font-family: inherit;
    padding: 0.7rem 4rem;
    background-color: #F2F2F2;
    border: none;
    border-radius: 200px;
    width: 90%;
    transition: all 0.5s;
}

.navbar__search--input:focus {
    outline: none;
    width: 100%;
}

////////////////////////////////////
//***** RIGHT MENU *****////////////
////////////////////////////////////


.navbar__menu {
    list-style: none;
    display: flex;
}

.navbar__menu li {
    color: #555555;
    padding: 4rem 3rem;
    align-items: stretch;
    transition: 0.5s;
    border-right: 0.5px solid #F2F2F2;
}

.navbar__menu li:hover {
    background: #F2F2F2;
    color: #47C1BC;
}
