@import "variables.scss";

.prof {
    &__wrapper {
        max-width: 120rem;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-content: space-between;
    }

    &__spec {
        display: flex;
        flex-direction: column;
        align-self: center;
        max-width: 30rem;

    }

    &__row {
        text-align: center;
        margin: 4rem auto;
        padding: 0 3rem;
        color: $color-gray-medium;
    }
}


.slider {
    width: 60rem;
    img {
        width: 60rem;
    }

    &__items {
        display: flex;
        flex-direction: column;

    }

    &__item:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    &__item img {
        width: 20rem;
        height: auto;
    }

}
