@import "variables.scss";

////////////////////////////////////
//***** X-LARGE SCREENS *****//////
////////////////////////////////////


@media only screen and (max-width: $xl) {

// Hero section //
    .hero {
        &__slider {
            margin-left: -25% !important;
        }

        &__image {
            width: 50rem !important;
        }
    }

    // Prof section //
    .prof {
        &__wrapper {
            padding: 0 1rem;
        }
    }
}




////////////////////////////////////
//***** LARGE SCREENS *****//////
////////////////////////////////////

@media only screen and (max-width: $l) {

    h4 {
        text-align: center !important;
    }

    //Navbar section //
    .navbar {
        height: 7rem !important;

        &__menu li {
            padding: 2.6rem 2.5rem !important;
        }
    }
// Hero section //
    .hero {
        &__slider {
            margin-left: -25% !important;
        }

        &__image {
            width: 43rem !important;
        }
    }

    // Prof Sectipon //
    .prof {
        &__wrapper {
            flex-direction: column !important;
            align-items: center !important;
        }
        &__spec {
            max-width: 75rem !important;
            text-align: center !important;
            padding: 0 1rem !important;
        }
    }
    .slider {
        &__items {
            margin-top: 1rem !important;
            flex-direction: row !important;
            padding: 0 1rem !important;
        }

    }
}





////////////////////////////////////
//***** MEDIUM SCREENS *****////////
////////////////////////////////////

@media only screen and (max-width: $m) {

    // HEADING //
    h1,
    h2 {
        font-size: 3rem !important;
        line-height: 3rem !important;
    }

    h1 {
        margin-bottom: 1.5rem !important;
    }

    h3 {
        font-size: 2rem !important;
    }

    .btn-group {
        margin-top: 2rem;
    }

    .btn {
        padding: 1rem 1.5rem !important;
        margin: 0.4rem 0;
    }

    // NAVBAR //
    .header {
        perspective: 75rem !important;
    }
        .menuicon {
        display: block !important;
        position: fixed;
    }

    .open .overlay {
        opacity: 1;
        z-index: 99999998;
        transform: scaleX(1);
    }





    .navbar {
        margin-top: 0 !important;
        margin-left: 0 !important;
        position: absolute !important;
        display: flex !important;
        flex-direction: column !important;
        border-bottom: none !important;
        height: 100vh !important;
        width: 25rem !important;
        z-index: 99999999 !important;
        justify-content: space-around !important;
        transform: rotateY(180deg) !important;
        transform-origin: top left !important;
        transition: 0.65s cubic-bezier(0.55, 0.55, 0.675, 0.1) !important;

        &__logo {
            order: 1;
            align-self: center;
        }

        &__search {
            order: 3;
            align-self: center;

            &--input {
                width: 100% !important;
            }
        }

        &__menu {
            flex-direction: column !important;
            order: 2;

            & li {
                text-align: center;
                border-right: none !important;
                border-bottom: 0.5px solid $color-gray !important;
                padding: 1.2rem 0 !important;
                width: 100% !important;
            }
        }
    }
     .header.open .navbar {
        transform: rotateY(0deg) !important;
    }



    // Header Hero //
    .hero {
        &__slider {
            margin-left: -30% !important;
        }

        &__image {
            width: 30rem !important;
        }

        &__slogan {
            top: 50% !important;
        }
    }

    // Prof Sectipon //
    .prof {
        &__wrapper {
            flex-direction: column !important;
            align-items: center !important;
        }
        &__spec {
            max-width: 75rem !important;
            text-align: center !important;
            padding: 0 1rem !important;
        }
        &__row {
            margin: 1rem auto !important;
        }
    }
    .slider {
        width: 50rem !important;
        img {
            width: 50rem !important;
        }
        &__items {
            margin-top: 1rem !important;
            flex-direction: row !important;
            padding: 0 1rem !important;
        }
        &__item img {
            width: 15rem !important;
            height: auto !important;
        }

    }
}


////////////////////////////////////
//***** SMALL SCREENS *****////////
////////////////////////////////////



@media only screen and (max-width: $s) {


    h1,
    h2 {
        font-size: 2.5rem !important;
    }

    // h1 //
    h1 {
        line-height: 2.5rem !important;
        margin-bottom: 1.5rem !important;
    }

    h3 {
        font-size: 1.8rem !important;
    }

    .btn-group {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .btn {
        padding: 1rem 1rem !important;
    }




    // Header Hero //
    .hero {
        &__slider {
            margin-left: -30% !important;
        }

        &__image {
            width: 20rem !important;
        }

        &__slogan {
            // top: 60% !important;
        }
    }
        // Prof Sectipon //

    .slider {
        width: 30rem !important;
        img {
            width: 30rem !important;
        }

        &__item img {
            width: 10rem !important;
            height: auto !important;
        }

    }
}

