@import "variables.scss";


@media only screen and (max-width: $xl) {
        .hero {
        &__slider {
            margin-left: -25% !important;
        }

        &__image {
            width: 50rem !important;
        }
}
}

@media only screen and (max-width: $l) {
    .navbar {
        height: 7rem !important;

        &__menu li {
            padding: 2.6rem 2.5rem !important;
        }
    }
    .hero {
        &__slider {
            margin-left: -25% !important;
        }

        &__image {
            width: 43rem !important;
        }
}
}

@media only screen and (max-width: $m) {

    // h1 //
    h1 {
        font-size: 3rem !important;
        line-height: 3rem !important;
        margin-bottom: 1.5rem !important;
    }
    .btn-group {
        margin-top: 2rem;
    }
    .btn {
        padding: 1rem 1.5rem !important;
        margin: 0.4rem 0;
    }

    // navbar //
    .menuicon {
        display: block !important;
    }

    .navbar {
        display: none !important;
    }



    // Header Hero //
    .hero {
        &__slider {
            margin-left: -30% !important;
        }

        &__image {
            width: 30rem !important;
        }

        &__slogan {
            top: 50% !important;
        }
    }
}



@media only screen and (max-width: $s) {

    // Buttons //

    // h1 //
    h1 {
        font-size: 2.5rem !important;
        line-height: 2.5rem !important;
        margin-bottom: 1.5rem !important;
    }

    .btn-group {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .btn {
        padding: 1rem 1rem !important;
    }




    // Header Hero //
    .hero {
        &__slider {
            margin-left: -30% !important;
        }

        &__image {
            width: 20rem !important;
        }

        &__slogan {
            // top: 60% !important;
        }
    }
}
