@media only screen and (max-width: 1600px) {
  .hero__slider {
    margin-left: -25% !important; }
  .hero__image {
    width: 50rem !important; }

  .prof__wrapper {
    padding: 0 1rem; } }
@media only screen and (max-width: 1024px) {
  h4 {
    text-align: center !important; }

  .navbar {
    height: 7rem !important; }
    .navbar__menu li {
      padding: 2.6rem 2.5rem !important; }

  .hero__slider {
    margin-left: -25% !important; }
  .hero__image {
    width: 43rem !important; }

  .prof__wrapper {
    flex-direction: column !important;
    align-items: center !important; }
  .prof__spec {
    max-width: 75rem !important;
    text-align: center !important;
    padding: 0 1rem !important; }

  .slider__items {
    margin-top: 1rem !important;
    flex-direction: row !important;
    padding: 0 1rem !important; } }
@media only screen and (max-width: 825px) {
  h1,
  h2 {
    font-size: 3rem !important;
    line-height: 3rem !important; }

  h1 {
    margin-bottom: 1.5rem !important; }

  h3 {
    font-size: 2rem !important; }

  .btn-group {
    margin-top: 2rem; }

  .btn {
    padding: 1rem 1.5rem !important;
    margin: 0.4rem 0; }

  .header {
    perspective: 75rem !important; }

  .menuicon {
    display: block !important;
    position: fixed; }

  .open .overlay {
    opacity: 1;
    z-index: 99999998;
    transform: scaleX(1); }

  .navbar {
    margin-top: 0 !important;
    margin-left: 0 !important;
    position: absolute !important;
    display: flex !important;
    flex-direction: column !important;
    border-bottom: none !important;
    height: 100vh !important;
    width: 25rem !important;
    z-index: 99999999 !important;
    justify-content: space-around !important;
    transform: rotateY(180deg) !important;
    transform-origin: top left !important;
    transition: 0.65s cubic-bezier(0.55, 0.55, 0.675, 0.1) !important; }
    .navbar__logo {
      order: 1;
      align-self: center; }
    .navbar__search {
      order: 3;
      align-self: center; }
      .navbar__search--input {
        width: 100% !important; }
    .navbar__menu {
      flex-direction: column !important;
      order: 2; }
      .navbar__menu li {
        text-align: center;
        border-right: none !important;
        border-bottom: 0.5px solid #F2F2F2 !important;
        padding: 1.2rem 0 !important;
        width: 100% !important; }

  .header.open .navbar {
    transform: rotateY(0deg) !important; }

  .hero__slider {
    margin-left: -30% !important; }
  .hero__image {
    width: 30rem !important; }
  .hero__slogan {
    top: 50% !important; }

  .prof__wrapper {
    flex-direction: column !important;
    align-items: center !important; }
  .prof__spec {
    max-width: 75rem !important;
    text-align: center !important;
    padding: 0 1rem !important; }
  .prof__row {
    margin: 1rem auto !important; }

  .slider {
    width: 50rem !important; }
    .slider img {
      width: 50rem !important; }
    .slider__items {
      margin-top: 1rem !important;
      flex-direction: row !important;
      padding: 0 1rem !important; }
    .slider__item img {
      width: 15rem !important;
      height: auto !important; } }
@media only screen and (max-width: 450px) {
  h1,
  h2 {
    font-size: 2.5rem !important; }

  h1 {
    line-height: 2.5rem !important;
    margin-bottom: 1.5rem !important; }

  h3 {
    font-size: 1.8rem !important; }

  .btn-group {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }

  .btn {
    padding: 1rem 1rem !important; }

  .hero__slider {
    margin-left: -30% !important; }
  .hero__image {
    width: 20rem !important; }

  .slider {
    width: 30rem !important; }
    .slider img {
      width: 30rem !important; }
    .slider__item img {
      width: 10rem !important;
      height: auto !important; } }
a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem; }

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  text-align: center; }

h1 {
  font-size: 6rem;
  line-height: 6rem;
  margin-bottom: 3rem; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 2.5rem;
  color: #989898;
  margin-bottom: 3rem;
  font-weight: 300; }

h4 {
  font-size: 1.8rem;
  text-align: left;
  margin-bottom: 2rem; }

.btn-group {
  margin-top: 3rem;
  display: flex;
  justify-content: center; }

.btn {
  padding: 1rem 3.5rem;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  text-align: center; }
  .btn--gray {
    background: #555555; }
  .btn--gradient {
    background-image: linear-gradient(to bottom right, #4CB8C4, #3CD3AD);
    align-self: center;
    padding: 1rem 5.5rem; }

i {
  font-size: 3.5rem; }

.fa-map {
  font-size: 1.4rem; }

.fa-search {
  color: #fff;
  font-size: 1.5rem; }

.row {
  max-width: 120rem;
  display: flex;
  margin: 0 auto; }

.header {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 10000000000; }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transform: scaleX(0);
  opacity: 0;
  transition: opacity 1s; }

.menuicon {
  position: fixed;
  margin-top: 3rem;
  right: 3rem;
  cursor: pointer;
  outline: none;
  display: none;
  z-index: 100000001; }

.bar,
.bar::before,
.bar::after {
  content: "";
  width: 3rem;
  height: 0.5rem;
  background: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: relative;
  transition: all 0.2s; }

.bar::before {
  position: absolute;
  bottom: 2rem; }

.bar::after {
  position: absolute;
  top: 2rem; }

.open .bar {
  background: transparent; }

.open .bar::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: rotate(45deg); }

.open .bar::after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: rotate(-45deg); }

.navbar {
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 10rem;
  justify-content: space-between;
  border-bottom: 0.5px solid #F2F2F2;
  background: white; }

.navbar__logo {
  margin: auto 3.5rem; }

.navbar__logo img {
  width: 5rem;
  height: auto; }

.navbar__search {
  flex: 0 0 15%;
  position: relative;
  margin: auto 2rem; }

.navbar__search--button {
  position: absolute;
  border: none;
  padding: 0.63rem 0.8rem;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  background-color: #47C1BC; }

.navbar__search--input {
  font-family: inherit;
  padding: 0.7rem 4rem;
  background-color: #F2F2F2;
  border: none;
  border-radius: 200px;
  width: 90%;
  transition: all 0.5s; }

.navbar__search--input:focus {
  outline: none;
  width: 100%; }

.navbar__menu {
  list-style: none;
  display: flex; }

.navbar__menu li {
  color: #555555;
  padding: 4rem 3rem;
  align-items: stretch;
  transition: 0.5s;
  border-right: 0.5px solid #F2F2F2; }

.navbar__menu li:hover {
  background: #F2F2F2;
  color: #47C1BC; }

.hero {
  display: flex;
  height: 100vh; }

.hero__left {
  flex: 3;
  background-image: linear-gradient(to top right, #EFEFEF, #fff);
  display: flex;
  position: relative;
  flex-direction: column; }

.hero__slogan {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  z-index: 400000; }

.hero__right {
  flex: 2;
  background-image: linear-gradient(to bottom right, #4CB8C4, #3CD3AD);
  position: relative; }

.hero__slider {
  position: absolute;
  top: 50%;
  margin-left: -20%;
  transform: translateY(-50%); }

.hero__image {
  overflow: hidden;
  width: 76rem;
  height: auto; }

.hero__list {
  list-style: none;
  color: #fff;
  position: absolute;
  bottom: 10%;
  right: 15%; }

.hero__list li {
  padding: 0.1rem 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem; }

.active {
  border-left: 0.5rem solid #fff;
  margin-left: -0.5rem; }

.prof__wrapper {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-content: space-between; }
.prof__spec {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 30rem; }
.prof__row {
  text-align: center;
  margin: 4rem auto;
  padding: 0 3rem;
  color: #989898; }

.slider {
  width: 60rem; }
  .slider img {
    width: 60rem; }
  .slider__items {
    display: flex;
    flex-direction: column; }
  .slider__item:not(:last-child) {
    margin-bottom: 1.5rem; }
  .slider__item img {
    width: 20rem;
    height: auto; }

.ecosystem {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff; }
  .ecosystem__row {
    justify-content: space-between;
    margin-top: 9rem;
    margin-bottom: 4rem; }
  .ecosystem__card {
    height: 40rem;
    width: 30rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); }
  .ecosystem__description {
    padding: 3.5rem;
    text-align: center;
    line-height: 2rem; }
    .ecosystem__description h4 {
      text-align: center; }
  .ecosystem__image1, .ecosystem__image2, .ecosystem__image3 {
    width: 100%;
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden; }
  .ecosystem__image1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/card1.jpg); }
  .ecosystem__image2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/card2.jpg); }
  .ecosystem__image3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/card3.jpg); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px; }

html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

.main {
  width: 100%;
  overflow: hidden;
  position: relative; }

.prof,
.ecosystem {
  padding: 6rem 0; }

/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.css.map */
