////////////////////////////////////
//***** VARIABLES COLORS *****//////
////////////////////////////////////
$color-gray: #F2F2F2;
$color-gray-dark: #555555;
$color-primmary: #47C1BC;
$color-white: #fff;
$color-black: #000;
$color-line: #D1D1D1;
$color-gradient-1: #4CB8C4;
$color-gradient-2: #3CD3AD;
$color-gradient-3: #EFEFEF;

////////////////////////////////////
//***** VARIABLES @MEDIA *****//////
////////////////////////////////////

$xl: 1600px;
$l: 1024px;
$m: 825px;
$s: 450px;
